
/*--------------Navigation------------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    cursor: default;
}


.navbar-brand img {
    height: 100px;
    padding-left: 30px;
    cursor: default;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
    display: block;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

.nav-link span
{
    color: #2196f3;
}



.btn-home {
    float: right;
    padding: 20px 30px 0px 20px;
    color: #555!important;
    font-weight: 600;
    font-size: 15px;
}

.btn-home:hover {
    color: #007bff!important;
}

.titluAbout {
    padding-top: 120px;
    margin-bottom: 20px;
    font-family: Times New Yorker, serif;
    font-style: italic;
    color: #666;
    text-align: center;
    margin-left: 50px;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
}

/*RESPONSIVE NAVBAR*/
@media only screen and (max-width: 981px) {
.navbar-toggler-item{
    display: block;
    float: right;
}
.navbar-toggler {
    position: absolute;
    top: 20px;
}
#myLinks{
    display: none;
    overflow: hidden;
    margin-left: 0vw;
}
.navbar-brand {
    margin-left: 60vw;
    height:70px;
}
#titlu {
    display: none;
}
.titluAbout{
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: Times New Yorker, serif;
    font-style: italic;
    color: #666;
    text-align: center;
    margin-left: 2vw;
}
/*Animatie*/
.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globaly */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.animate__animated {
  --animate-repeat: 2;
}
}
@media only screen and (min-width: 981px){
#navigationBar {
  position: fixed;
  top:0;
  width: 100%;
}
#navigationBar ul li:hover a{
    background-color: white;
}
.navbar-brand img {
    height: 100px;
    padding-left: 30px;
    margin-left: 0vw;
    cursor: default;
}
.navbar-brand {
    margin-left: 0;
}  
#titlu {
    font-family: Times New Yorker, serif;
    font-style: italic;
    color: #666666;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 30%;
} 
#myLinks {
    position: absolute;
    right: 0;
}
/*Animatie*/
.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globaly */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.animate__animated {
  --animate-repeat: 2;
}
}

/*Content*/
.alignment {
    margin-left: 2vw;
}

.alignment1 {
    text-align: center;
}

.rebus-logo {
    text-align: center;
}

.rebus span,
.rebus1 span,
.rebus2 span,
.rebus3 span,
.rebus4 span,
.rebus5 span,
.rebus6 span,
.rebus7 span,
.rebus8 span {
    letter-spacing: 2px;
    font-style: bold;
    color: royalblue;
    letter-spacing: 5px;
}

.rebus1 {
    margin-left: -25px;
}

.rebus2 {
    margin-left: -10px;
}

.rebus3 {
    margin-left: 38px;
}

.rebus4 {
    margin-left: 95px;
}

.rebus5 {
    margin-left: 5px;
}

.rebus6 {
    margin-left: 80px;
}

.rebus7 {
    margin-left: 50px;
}


.text-body,
.types,
.description {
    margin-left: 10px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color:#0f0d0d;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}


/* The Close Button */

.close {
    color: #efefef;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}
.numbertext{
    background-color: transparent;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}
img:hover {
    opacity: 0.5;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*-----------------------SOCIALIZARE-----------------*/

.facebook {
    float: right;
    padding: 20px 30px 30px 20px;
    font-size: 25px;
}


/*--------------------footer----------*/

#footer {
    background-color: #333;
    color: #fff;
    padding: 12px;
}

